<?xml version="1.0" encoding="utf-8"?>
<!--
<copyright company="Christoph van der Fecht - VDsoft">
This code can be used in commercial, free and open source projects.
</copyright>
-->
<ApplicationInsights xmlns = "http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
</ApplicationInsights>
